:root {
  --color-background-primary: #0B1416;
  --color-background-secondary: #1A282D;
  --color-border: rgba(128, 128, 128, 0.5);
  --color-post-icon: rgba(160, 160, 160, 0.8);
  --color-primary-font: white;
  --color-hover: #223237;
  --color-icon: #F2F4F5;
  --color-button: #0077FF;
}

.App {
  text-align: center;
  display: flex;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #0B1416;
}